{% extends "base.html" %}

{% block title %} IBM Innovations Tools {% endblock %}

{% block content %}
<article>
    <header>
        <h1>Welcome ! Your Ideas Matter </h1>
        <p>This is the official website used & managed by IBM Phil. Innovations Team</p>
    </header>
    <section>
        <h2>Projects</h2>
        <p> project_1 </p>A
        <p> project_2 </p>
    </section>
    <section>
        <h2>Devops Services</h2>
        <p> Dev_tools_1</p>
        <p> Dev_tools_2</p>
    </section>
    <footer>
        <h3>Helpful Links:</h3>
        <p> Link_1</p>
        <p> Link_2</p>
    </footer>
</article>

<aside>
    <h3>The Philosophy Behind Creativity</h3>
    <p>Be inspired to do and create for the advancement of the humankind</p>
</aside>

{% endblock %}
